Repository gitlabhq/terraform-provider-gitlab, pull requests merged in 2022-04, with the labels that each got.

#1005 gitlab_project_access_token: Test bugfix and destroy improvement
  internal/provider/resource_gitlab_project_access_token.go
  internal/provider/resource_gitlab_project_access_token_test.go
Labels: bug, size/L, provider, resource, tests

#1006 Add vscode settings for gitpod
  .vscode/settings.json
Labels: size/XS, DX

#1004 resource/gitlab_project_protected_environment: Allow multiple deploy_access_levels
  docs/resources/project_protected_environment.md
  examples/resources/gitlab_project_protected_environment/resource.tf
  internal/provider/resource_gitlab_project_protected_environment.go
  internal/provider/resource_gitlab_project_protected_environment_test.go
Labels: documentation, size/L, provider, resource, tests

#1001 Fix tfplugindocs generate error on M1 macs
  GNUmakefile
Labels: size/XS, DX

#1003 Added external Wiki service
  docs/resources/service_external_wiki.md
  examples/resources/gitlab_service_external_wiki/import.sh
  examples/resources/gitlab_service_external_wiki/resource.tf
  internal/provider/resource_gitlab_service_external_wiki.go
  internal/provider/resource_gitlab_service_external_wiki_test.go
Labels: documentation, size/L, provider, resource, tests

#999 add "owner" as valid access level for the group_access_token resource
  docs/resources/group_access_token.md
  internal/provider/resource_gitlab_group_access_token.go
  internal/provider/resource_gitlab_group_access_token_test.go
Labels: documentation, size/S, provider, resource, tests

#1019 Separating setup script from personal access token code
  scripts/healthcheck-and-setup.sh
Labels: size/XS, tools

#1013 Fix `gitlab_service_slack` IDs
  internal/provider/resource_gitlab_service_slack.go
Labels: size/XS, provider, resource

#1024 Update changelog with #1013 bug fix
  CHANGELOG.md
Labels: documentation, size/S

#1023 Adding registry enablement fixes
  .gitignore
  CONTRIBUTING.md
  GNUmakefile
  docker-compose.yml
  scripts/gitlab.rb
  scripts/healthcheck-and-setup.sh
Labels: documentation, size/S, tools

#1016 Implement resource `gitlab_project_runner_enablement` to attach specific runners to projects
  docs/resources/project_runner_enablement.md
  examples/resources/gitlab_project_runner_enablement/import.sh
  examples/resources/gitlab_project_runner_enablement/resource.tf
  internal/provider/resource_gitlab_project_runner_enablement.go
  internal/provider/resource_gitlab_project_runner_enablement_test.go
Labels: documentation, size/L, provider, resource, tests

#1007 Initial Addition of Personal Access Token Resource + some refactors
  docs/resources/personal_access_token.md
  examples/resources/gitlab_personal_access_token/import.sh
  examples/resources/gitlab_personal_access_token/resource.tf
  go.mod
  go.sum
  internal/provider/data_source_gitlab_projects.go
  internal/provider/resource_gitlab_group_access_token.go
  internal/provider/resource_gitlab_personal_access_tokens.go
  internal/provider/resource_gitlab_personal_access_tokens_test.go
  internal/provider/resource_gitlab_project_access_token.go
  internal/provider/util.go
Labels: documentation, dependencies, size/L, provider, data-source, resource, tests

#1032 resource/gitlab_instance_variable: fix broken link to API docs. Closes #1028
  docs/resources/instance_variable.md
  internal/provider/resource_gitlab_instance_variable.go
Labels: documentation, size/XS, provider, resource

#1034 resource/gitlab_pipeline_trigger: Mark `token` attribute as sensitive
  docs/resources/pipeline_trigger.md
  internal/provider/resource_gitlab_pipeline_trigger.go
Labels: documentation, size/XS, provider, resource

#969 Use context for all GitLab API calls
  internal/provider/config.go
  internal/provider/custom_attribute_helper.go
  internal/provider/data_source_gitlab_group_membership.go
  internal/provider/data_source_gitlab_project_issues.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/resource_gitlab_group_label.go
  internal/provider/resource_gitlab_label.go
  internal/provider/resource_gitlab_managed_license_test.go
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_test.go
  internal/provider/resource_gitlab_project_variable_test.go
  internal/provider/resource_gitlab_repository_file.go
  internal/provider/resource_gitlab_topic.go
  internal/provider/resource_gitlab_user.go
  internal/provider/util.go
Labels: size/M, provider, data-source, resource, tests

#987 Officially support creating project in user namespace using `namespace_id` from user resources / data sources
  docs/data-sources/user.md
  docs/data-sources/users.md
  docs/resources/project.md
  docs/resources/user.md
  examples/resources/gitlab_project/resource.tf
  internal/provider/data_source_gitlab_user.go
  internal/provider/data_source_gitlab_users.go
  internal/provider/resource_gitlab_project_test.go
  internal/provider/resource_gitlab_user.go
  internal/provider/resource_gitlab_user_test.go
Labels: documentation, size/M, provider, data-source, resource, tests

#1038 resource/gitlab_repository_file: Add execute_filemode attribute
  docs/data-sources/repository_file.md
  docs/resources/repository_file.md
  go.mod
  go.sum
  internal/provider/data_source_gitlab_repository_file_test.go
  internal/provider/resource_gitlab_repository_file.go
  internal/provider/resource_gitlab_repository_file_test.go
  internal/provider/schema_gitlab_repository_file.go
Labels: documentation, dependencies, size/S, provider, data-source, resource, tests, go-gitlab

#1040 Add default branch protection workaround text to project resource
  docs/resources/project.md
  internal/provider/resource_gitlab_project.go
Labels: documentation, size/XS, provider, resource

#1009 Can push deploy keys
  docs/resources/deploy_key.md
  docs/resources/deploy_key_enable.md
  examples/resources/gitlab_deploy_key/import.sh
  examples/resources/gitlab_deploy_key_enable/import.sh
  internal/provider/resource_gitlab_deploy_key.go
  internal/provider/resource_gitlab_deploy_key_enable.go
  internal/provider/resource_gitlab_deploy_key_enable_test.go
  internal/provider/resource_gitlab_deploy_key_test.go
Labels: documentation, size/L, provider, resource, tests

#1041 Enable pages
  scripts/gitlab.rb
Labels: size/XS, tools

#998 Lint Issues- Testing out addition of Check Destroy in some Acceptance Tests + other refactoring
  internal/provider/resource_gitlab_group.go
  internal/provider/resource_gitlab_group_share_group.go
  internal/provider/resource_gitlab_group_share_group_test.go
  internal/provider/resource_gitlab_group_test.go
  internal/provider/resource_gitlab_instance_variable.go
  internal/provider/resource_gitlab_instance_variable_test.go
  internal/provider/resource_gitlab_project_freeze_period.go
  internal/provider/resource_gitlab_project_membership.go
  internal/provider/resource_gitlab_project_share_group_test.go
  internal/provider/resource_gitlab_project_test.go
  internal/provider/resource_gitlab_service_jira.go
  internal/provider/resource_gitlab_service_microsoft_teams.go
Labels: size/L, provider, resource, tests

#1036 Deprecate branch coverage
  .gitpod.yml
  .vscode/settings.json
  docs/resources/project.md
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_test.go
Labels: documentation, size/M, provider, resource, tests
