Repository gitlabhq/terraform-provider-gitlab, pull requests merged in 2022-05, with the labels that each got.

#988 resource/gitlab_project_mirror: Support deletion on destroy
  docs/resources/project_mirror.md
  go.sum
  internal/provider/resource_gitlab_project_mirror.go
  internal/provider/resource_gitlab_project_mirror_test.go
Labels: documentation, dependencies, size/M, provider, resource, tests

#1050 Add changelog for v3.14.0 release
  CHANGELOG.md
Labels: documentation, size/S

#1070 resource/gitlab_group: Update the allowable values for default_branch_protection
  internal/provider/resource_gitlab_group.go
Labels: size/XS, provider, resource

#1052 add badge name
  docs/resources/project_badge.md
  examples/resources/gitlab_project_badge/resource.tf
  internal/provider/resource_gitlab_project_badge.go
  internal/provider/resource_gitlab_project_badge_test.go
Labels: documentation, size/M, provider, resource, tests

#1072 Add runner token to gitlab.rb
  scripts/gitlab.rb
Labels: size/XS, tools

#1049 Add gitlab_runner Resource
  docs/resources/runner.md
  examples/resources/gitlab_runner/import.sh
  examples/resources/gitlab_runner/resource.tf
  internal/provider/resource_gitlab_runner.go
  internal/provider/resource_gitlab_runner_test.go
  internal/provider/util.go
Labels: documentation, size/L, provider, resource, tests

#1077 Fix lint errors
  internal/provider/data_source_gitlab_projects.go
  internal/provider/data_source_gitlab_projects_test.go
Labels: size/S, provider, data-source, tests

#1051 Adds missing examples in docs for the `gitlab_*_variable(s)` data sources
  docs/data-sources/group_variable.md
  docs/data-sources/group_variables.md
  docs/data-sources/instance_variable.md
  docs/data-sources/instance_variables.md
  docs/data-sources/project_variable.md
  docs/data-sources/project_variables.md
  examples/data-sources/gitlab_group_variable/data-source.tf
  examples/data-sources/gitlab_group_variables/data-source.tf
  examples/data-sources/gitlab_instance_variable/data-source.tf
  examples/data-sources/gitlab_instance_variables/data-source.tf
  examples/data-sources/gitlab_project_variable/data-source.tf
  examples/data-sources/gitlab_project_variables/data-source.tf
Labels: documentation, size/S

#1046 Add community hour details
  README.md
Labels: documentation, size/XS

#1081 resource/gitlab_project_issue: Remove `Optional` from `Computed`-only attributes
  docs/resources/project_issue.md
  internal/provider/schema_gitlab_project_issue.go
Labels: bug, documentation, size/S, provider

#1078 Moving a subgroup does not force a recreation of the group and no longer deletes the underlying projects
  go.mod
  go.sum
  internal/provider/resource_gitlab_group.go
  internal/provider/resource_gitlab_group_test.go
Labels: dependencies, size/M, provider, resource, tests

#1084 Clarify documentation on `gitlab_group_share_group` resource
  docs/resources/group_share_group.md
  internal/provider/resource_gitlab_group_share_group.go
Labels: documentation, size/XS, provider, resource

#1069 resource/gitlab_service_jira: several cleanup of tech debt
  docs/resources/service_jira.md
  internal/provider/resource_gitlab_service_jira.go
  internal/provider/resource_gitlab_service_jira_test.go
Labels: documentation, size/M, technical debt, provider, resource, tests

#1044 Added gitlab_project_milestone as a resource and data source
  docs/data-sources/project_milestone.md
  docs/data-sources/project_milestones.md
  docs/resources/project_milestone.md
  examples/data-sources/gitlab_project_milestone/data-source.tf
  examples/data-sources/gitlab_project_milestones/data-source.tf
  examples/resources/gitlab_project_milestone/import.sh
  examples/resources/gitlab_project_milestone/resource.tf
  internal/provider/data_source_gitlab_project_milestone.go
  internal/provider/data_source_gitlab_project_milestone_test.go
  internal/provider/data_source_gitlab_project_milestones.go
  internal/provider/data_source_gitlab_project_milestones_test.go
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_project_issue_test.go
  internal/provider/resource_gitlab_project_milestone.go
  internal/provider/resource_gitlab_project_milestone_test.go
  internal/provider/schema_gitlab_project_milestone.go
Labels: documentation, size/L, provider, needs-rebase, data-source, resource, tests

#1095 Support Gitlab 15.0
  .github/workflows/pr-acceptance-ce.yml
  .github/workflows/pr-acceptance-ee.yml
  .github/workflows/push.yml
  CONTRIBUTING.md
  docker-compose.yml
  docs/resources/managed_license.md
  docs/resources/topic.md
  examples/resources/gitlab_topic/resource.tf
  internal/provider/data_source_gitlab_repository_file_test.go
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_group_cluster_test.go
  internal/provider/resource_gitlab_instance_cluster_test.go
  internal/provider/resource_gitlab_managed_license.go
  internal/provider/resource_gitlab_managed_license_test.go
  internal/provider/resource_gitlab_project_cluster_test.go
  internal/provider/resource_gitlab_project_test.go
  internal/provider/resource_gitlab_repository_file_test.go
  internal/provider/resource_gitlab_topic.go
  internal/provider/resource_gitlab_topic_test.go
Labels: documentation, size/L, provider, data-source, resource, workflows, tests

#1073 Implement resources and data sources for GitLab Agent for Kubernetes API
  .vscode/settings.json
  docs/data-sources/cluster_agent.md
  docs/data-sources/cluster_agents.md
  docs/resources/cluster_agent.md
  examples/data-sources/gitlab_cluster_agent/data-source.tf
  examples/data-sources/gitlab_cluster_agents/data-source.tf
  examples/resources/gitlab_cluster_agent/import.sh
  examples/resources/gitlab_cluster_agent/resource.tf
  internal/provider/data_source_gitlab_cluster_agent.go
  internal/provider/data_source_gitlab_cluster_agent_test.go
  internal/provider/data_source_gitlab_cluster_agents.go
  internal/provider/data_source_gitlab_cluster_agents_test.go
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_cluster_agent.go
  internal/provider/resource_gitlab_cluster_agent_test.go
  internal/provider/schema_gitlab_cluster_agent.go
Labels: documentation, new-resource, new-data-source, size/L, provider, data-source, resource, tests

#1104 Changelog for v3.15.0
  CHANGELOG.md
Labels: documentation, size/S

#1105 Remove a few technical debts regarding issues detected by the linter
  internal/provider/data_source_gitlab_project.go
  internal/provider/data_source_gitlab_projects.go
  internal/provider/resource_gitlab_group_cluster_test.go
  internal/provider/resource_gitlab_group_test.go
  internal/provider/resource_gitlab_instance_cluster_test.go
  internal/provider/resource_gitlab_pipeline_schedule_test.go
  internal/provider/resource_gitlab_pipeline_schedule_variable_test.go
  internal/provider/resource_gitlab_pipeline_trigger_test.go
  internal/provider/resource_gitlab_project_cluster_test.go
  internal/provider/resource_gitlab_project_freeze_period_test.go
  internal/provider/resource_gitlab_project_level_mr_approvals_test.go
  internal/provider/resource_gitlab_service_github_test.go
  internal/provider/resource_gitlab_service_pipelines_email_test.go
  internal/provider/resource_gitlab_service_slack_test.go
  internal/provider/resource_gitlab_tag_protection_test.go
Labels: size/L, technical debt, provider, data-source, resource, tests
