Repository gitlabhq/terraform-provider-gitlab, pull requests merged in 2022-11, with the labels that each got.

#1300 update CONTRIBUTING and README documentation
  CONTRIBUTING.md
  README.md
Labels: documentation, size/XS

#1302 Update text matrix for the 3 most recent versions
  .github/workflows/pr-acceptance-ce.yml
  .github/workflows/pr-acceptance-ee.yml
  .github/workflows/push.yml
Labels: size/XS, workflows

#1305 feat: add Emails on Push service (#607)
  docs/resources/service_emails_on_push.md
  examples/resources/gitlab_service_emails_on_push/import.sh
  examples/resources/gitlab_service_emails_on_push/resource.tf
  internal/provider/resource_gitlab_service_emails_on_push.go
  internal/provider/resource_gitlab_service_emails_on_push_test.go
Labels: documentation, size/L, provider, needs-rebase, resource, tests

#1321 Lock down PRs for repository migration over to GitLab
  .github/workflows/lock.yml
Labels: size/S, workflows
