Repository gitlabhq/terraform-provider-gitlab, pull requests merged in 2022-10, with the labels that each got.

#1249 gitlab_projects(s): Add suggestion_commit_message
  docs/data-sources/project.md
  docs/data-sources/projects.md
  docs/resources/project.md
  internal/provider/data_source_gitlab_project.go
  internal/provider/data_source_gitlab_projects.go
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_test.go
Labels: documentation, size/S, provider, stale, data-source, resource, tests

#1281 Update community hours like
  README.md
Labels: documentation, size/XS, community

#1278 resource/gitlab_branch_protection: Support `no one` in `unprotect_access_level`
  docs/resources/branch_protection.md
  internal/provider/access_level_helpers.go
Labels: documentation, size/XS, provider

#1256 resource/gitlab_group_saml_link: Fix `group` attribute in example. Closes #1255
  docs/resources/group_saml_link.md
  examples/resources/gitlab_group_saml_link/resource.tf
Labels: documentation, size/XS
