Repository gitlabhq/terraform-provider-gitlab, pull requests merged in 2022-08, with the labels that each got.

#1199 Fix golangci by moving away from deprecated io/ioutil
  internal/provider/config.go
Labels: size/XS, provider

#1181 Add resource gitlab_user_gpgkey
  docs/resources/user_gpgkey.md
  examples/resources/gitlab_user_gpgkey/import.sh
  examples/resources/gitlab_user_gpgkey/resource.tf
  internal/provider/resource_gitlab_user_gpgkey.go
  internal/provider/resource_gitlab_user_gpgkey_test.go
Labels: documentation, size/L, provider, resource, tests

#1198 Added code for Repository Tree Datasource
  docs/data-sources/repository_tree.md
  examples/data-sources/gitlab_repository_tree/data-source.tf
  internal/provider/data_source_gitlab_repository_tree.go
  internal/provider/data_source_gitlab_repository_tree_test.go
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_repository_file.go
  internal/provider/schema_gitlab_repository_file.go
Labels: documentation, size/L, provider, data-source, resource, tests

#1191 Fix typo in gitlab_cluster_agent_token example
  docs/resources/cluster_agent_token.md
  examples/resources/gitlab_cluster_agent_token/resource.tf
Labels: documentation, size/XS

#1205 Use `crazy-max/ghaction-import-gpg` instead of the one from hashicorp
  .github/workflows/release.yml
Labels: size/S, DX, workflows

#1204 Implement `gitlab_project_hook` and `gitlab_project_hooks` data sources
  docs/data-sources/project_hook.md
  docs/data-sources/project_hooks.md
  docs/resources/project_hook.md
  examples/data-sources/gitlab_project_hook/data-source.tf
  examples/data-sources/gitlab_project_hooks/data-source.tf
  internal/provider/data_source_gitlab_project_hook.go
  internal/provider/data_source_gitlab_project_hook_test.go
  internal/provider/data_source_gitlab_project_hooks.go
  internal/provider/data_source_gitlab_project_hooks_test.go
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_project_hook.go
  internal/provider/schema_gitlab_project_hook.go
Labels: documentation, size/L, provider, data-source, resource, tests

#1210 resource/gitlab_project_protected_environment: Add docs that users and groups must be shared with the project
  docs/resources/project_protected_environment.md
  internal/provider/resource_gitlab_project_protected_environment.go
  internal/provider/resource_gitlab_project_protected_environment_test.go
Labels: documentation, size/M, provider, resource, tests

#1201 resource/gitlab_application_settings: New experimental resource
  docs/resources/application_settings.md
  examples/resources/gitlab_application_settings/resource.tf
  internal/provider/resource_gitlab_application_settings.go
  internal/provider/resource_gitlab_application_settings_test.go
  internal/provider/schema_gitlab_application_settings.go
  internal/provider/util.go
Labels: documentation, size/XXL, provider, resource, tests

#1218 resource/gitlab_project: Fix passing `ci_forward_deployment_enabled=false` at project creation
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_test.go
Labels: size/XS, provider, resource, tests

#1220 resource_gitlab_group_ldap_link: Update docs
  docs/resources/group_ldap_link.md
  internal/provider/resource_gitlab_group_ldap_link.go
Labels: documentation, size/XS, provider, resource

#1216 resource/gitlab_branch_protection: Allow to manage branch protection for default branch
  docs/resources/branch_protection.md
  internal/provider/resource_gitlab_branch_protection.go
  internal/provider/resource_gitlab_branch_protection_test.go
Labels: documentation, size/M, provider, resource, tests

#1209 resource/gitlab_group_membership: Support removal options
  docs/resources/group_membership.md
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_group_membership.go
  internal/provider/resource_gitlab_group_membership_test.go
Labels: documentation, size/M, provider, resource, tests

#1223 Update documentation for template resources
  docs/resources/group_project_file_template.md
  docs/resources/project.md
  internal/provider/resource_gitlab_group_project_file_template.go
  internal/provider/resource_gitlab_project.go
Labels: documentation, size/XS, provider, resource

#1225 Upgrade GitLab test matrix to 15.1, 15.2 and 15.3
  .github/workflows/pr-acceptance-ce.yml
  .github/workflows/pr-acceptance-ee.yml
  .github/workflows/push.yml
  CHANGELOG.md
Labels: documentation, size/S, workflows

#1221 Group Hook Resource and Data Sources
  docs/data-sources/group_hook.md
  docs/data-sources/group_hooks.md
  docs/resources/group_hook.md
  examples/data-sources/gitlab_group_hook/data-source.tf
  examples/data-sources/gitlab_group_hooks/data-source.tf
  examples/resources/gitlab_group_hook/import.sh
  examples/resources/gitlab_group_hook/resource.tf
  internal/provider/data_source_gitlab_group_hook.go
  internal/provider/data_source_gitlab_group_hook_test.go
  internal/provider/data_source_gitlab_group_hooks.go
  internal/provider/data_source_gitlab_group_hooks_test.go
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_group_hook.go
  internal/provider/resource_gitlab_group_hook_test.go
  internal/provider/schema_gitlab_group_hook.go
Labels: documentation, size/L, provider, data-source, resource, tests

#1222 Changelog for 3.17.0
  CHANGELOG.md
Labels: documentation, size/S

#1231 resource: fix typo in error message
  internal/provider/resource_gitlab_group_label.go
Labels: size/XS, provider, resource

#1228 Enable dummy SAML provider to allow saml group link features
  scripts/gitlab.rb
Labels: size/M, tools

#1217 Upgrade to go 1.19
  .go-version
  CONTRIBUTING.md
  go.mod
  go.sum
  internal/provider/access_level_helpers.go
  internal/provider/data_source_gitlab_project.go
  internal/provider/data_source_gitlab_projects.go
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_repository_file.go
Labels: documentation, dependencies, size/S, provider, DX, data-source, resource, go

#1238 Upgrade to latest GitLab releases
  .github/workflows/pr-acceptance-ce.yml
  .github/workflows/pr-acceptance-ee.yml
  .github/workflows/push.yml
Labels: size/XS, workflows
