Repository gitlabhq/terraform-provider-gitlab, pull requests merged in 2022-09, with the labels that each got.

#1240 Add ci_config_path to data.gitlab_project
  docs/data-sources/project.md
  internal/provider/data_source_gitlab_project.go
Labels: documentation, size/XS, provider, data-source

#1242 Upgrade testing matrix to GitLab 15.3.3 to allow SAML tests
  .github/workflows/pr-acceptance-ce.yml
  .github/workflows/pr-acceptance-ee.yml
  .github/workflows/push.yml
Labels: size/XS, workflows

#1243 resource/gitlab_group_saml_link: Add new resource
  docs/resources/group_saml_link.md
  examples/resources/gitlab_group_saml_link/import.sh
  examples/resources/gitlab_group_saml_link/resource.tf
  internal/provider/resource_gitlab_group_saml_link.go
  internal/provider/resource_gitlab_group_saml_link_test.go
Labels: documentation, size/L, provider, resource, tests

#1239 Draft changelog for 3.18.0
  CHANGELOG.md
Labels: documentation, size/XS
