Repository gitlabhq/terraform-provider-gitlab, pull requests merged in 2022-02, with the labels that each got.

#823 Workflows: Add triage labels to PRs
  .github/labeler-pr-triage.yml
  .github/workflows/pr-target.yml
Labels: DX

#825 Workflow: Comment on closed issues/PRs with a milestone when the milestone is closed
  .github/workflows/milestone-closed.yml
Labels: DX

#824 Workflows: Label stale issues and PRs, and issue triage labels
  .github/labeler-issue-triage.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/issue-opened.yml
  .github/workflows/issue-or-pr-closed.yml
  .github/workflows/stale.yml
Labels: size/M, DX, workflows

#833 Replace license with ultimate (expires August 2022)
  Gitlab-license.encrypted
Labels: size/XS

#834 Add missing line continuation in example terraform init command
  examples/gitlab-managed-state/README.md
Labels: documentation, size/XS

#816 Implement `archive_on_destroy` attribute for projects. Closes #761
  docs/resources/project.md
  gitlab/resource_gitlab_project.go
  gitlab/resource_gitlab_project_test.go
Labels: enhancement

#819 Aligns the *Access Level* situation in this providers with the upstream API. Closes #794
  docs/resources/branch_protection.md
  docs/resources/group_ldap_link.md
  docs/resources/group_membership.md
  docs/resources/group_share_group.md
  docs/resources/project_membership.md
  docs/resources/project_share_group.md
  docs/resources/tag_protection.md
  examples/resources/gitlab_group_ldap_link/resource.tf
  examples/resources/gitlab_project_share_group/resource.tf
  gitlab/access_level_helpers.go
  gitlab/data_source_gitlab_group_membership.go
  gitlab/data_source_gitlab_project_protected_branch.go
  gitlab/resource_gitlab_branch_protection.go
  gitlab/resource_gitlab_branch_protection_test.go
  gitlab/resource_gitlab_group_ldap_link.go
  gitlab/resource_gitlab_group_ldap_link_test.go
  gitlab/resource_gitlab_group_membership.go
  gitlab/resource_gitlab_group_membership_test.go
  gitlab/resource_gitlab_group_share_group.go
  gitlab/resource_gitlab_project_membership.go
  gitlab/resource_gitlab_project_membership_test.go
  gitlab/resource_gitlab_project_share_group.go
  gitlab/resource_gitlab_project_share_group_test.go
  gitlab/resource_gitlab_tag_protection.go
  gitlab/resource_gitlab_tag_protection_test.go
  gitlab/util.go
  gitlab/util_test.go
Labels: enhancement, documentation, upstream-api-alignment

#821 resource/service_slack: use pass through importer and start alignment with upstream API. Refs #790
  docs/resources/service_slack.md
  gitlab/resource_gitlab_service_slack.go
  gitlab/resource_gitlab_service_slack_test.go
Labels: enhancement, documentation, upstream-api-alignment

#700 Add managed license resources and tests
  docs/resources/managed_license.md
  examples/resources/gitlab_managed_license/import.sh
  examples/resources/gitlab_managed_license/resource.tf
  gitlab/provider.go
  gitlab/resource_gitlab_managed_license.go
  gitlab/resource_gitlab_managed_license_test.go
Labels: enhancement, documentation, new-resource, size/L, provider, EE, resource, tests

#829 Workflows: First interaction messsage on PRs
  .github/workflows/pr-target-opened.yml
Labels: DX

#830 Workflows: Prevent merging PRs with needs-rebase or do-not-merge labels
  .github/workflows/pr-required-labels.yml
Labels: DX

#828 Workflows: Automate applying merge-conflict label
  .github/workflows/pr-check-conflicts.yml
Labels: DX

#837 Workflows: stale adjustment
  .github/workflows/stale.yml
Labels: size/S, workflows

#818 Add CHANGELOG for 3.9.0
  CHANGELOG.md
Labels: documentation, size/S

#843 Fix gitlab_user datasource crash
  CHANGELOG.md
  gitlab/data_source_gitlab_user.go
  go.mod
Labels: bug, documentation, dependencies, size/S, provider, data-source

#840 datasource/gitlab_user(s): aligned email description with upstream API. Refs #839
  docs/data-sources/user.md
  gitlab/data_source_gitlab_user.go
  gitlab/data_source_gitlab_users.go
Labels: documentation, size/XS, provider, data-source

#850 Change the default branch to main
  README.md
Labels: documentation, size/XS

#849 Fix changelog date for 3.9.1
  CHANGELOG.md
Labels: documentation, size/XS

#838 resource/gitlab_project: correctly handle push rules add and edit
  gitlab/resource_gitlab_project.go
  gitlab/resource_gitlab_project_test.go
Labels: enhancement, size/M, provider, resource, tests

#852 Improve provider documentation
  .github/terraform_logo.svg
  .github/workflows/pr-check-conflicts.yml
  README.md
  docs/index.md
  templates/index.md.tmpl
Labels: enhancement, documentation, size/S, workflows

#773 Added releases event webhook option
  docs/resources/project_hook.md
  internal/provider/resource_gitlab_project_hook.go
  internal/provider/resource_gitlab_project_hook_test.go
Labels: enhancement, documentation, size/S, provider, upstream-api-alignment, needs-rebase, resource, tests

#762 closes #631, adding the support to block users
  docs/resources/user.md
  internal/provider/resource_gitlab_user.go
  internal/provider/resource_gitlab_user_test.go
Labels: documentation, size/M, provider, resource, tests

#854 Workflows: Disable triage labels for collaborators
  .github/workflows/issue-comment-created.yml
  .github/workflows/issue-opened.yml
Labels: size/S, DX, workflows

#855 datasource/gitlab_projects: Allow to get archived and unarchived repositories. Closes #452
  internal/provider/data_source_gitlab_projects.go
  internal/provider/data_source_gitlab_projects_test.go
Labels: size/M, provider, data-source, tests

#732 Implement `ci_forward_deployment_enabled`
  docs/data-sources/projects.md
  docs/resources/project.md
  internal/provider/data_source_gitlab_projects.go
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_test.go
Labels: enhancement, documentation, size/S, provider, needs-rebase, data-source, resource, tests

#859 Remove over-engineered testdata JSON file and just create the struct in the test
  internal/provider/resource_gitlab_group_ldap_link_test.go
  internal/provider/testdata/resource_gitlab_group_ldap_link.json
Labels: size/S, provider, DX, resource, tests

#860 resource/gitlab_group_access_token: support resource for Group Access Tokens. Closes #835
  docs/resources/group_access_token.md
  examples/resources/gitlab_group_access_token/import.sh
  examples/resources/gitlab_group_access_token/resource.tf
  go.mod
  go.sum
  internal/provider/resource_gitlab_group_access_token.go
  internal/provider/resource_gitlab_group_access_token_test.go
  internal/provider/resource_gitlab_group_label.go
  internal/provider/resource_gitlab_group_label_test.go
  internal/provider/resource_gitlab_project_variable.go
  internal/provider/resource_gitlab_project_variable_test.go
Labels: documentation, dependencies, size/L, provider, resource, tests

#856 Support creating project in group without default branch protection
  internal/provider/resource_gitlab_group.go
  internal/provider/resource_gitlab_group_test.go
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_test.go
Labels: size/M, provider, resource, tests

#864 Draft next release changelog
  CHANGELOG.md
Labels: documentation, size/M

#862 resolves #800: Add WaitForState support for resource_gitlab_project branch protection
  internal/provider/resource_gitlab_project.go
Labels: size/M, provider, resource

#866 Add failing group variable update test to test issue #861
  internal/provider/environment_scope_helper.go
  internal/provider/resource_gitlab_group_variable.go
  internal/provider/resource_gitlab_group_variable_test.go
  internal/provider/resource_gitlab_project_variable.go
Labels: size/M, provider, resource, tests

#867 resource/gitlab_project: fix backwards-compatibility with 14.1 regarding the `squash_option`. Closes #770
  docs/resources/project.md
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_test.go
Labels: documentation, size/S, provider, compatibility, resource, tests

#868 resource/gitlab_group_ldap_link: remove doc for import, because it is not supported
  docs/resources/group_ldap_link.md
  examples/resources/gitlab_group_ldap_link/import.sh
Labels: documentation, size/XS

#783 Add printing_merge_request_link_enabled attribute to projects
  docs/data-sources/project.md
  docs/resources/project.md
  examples/gitlab-managed-state/main.tf
  internal/provider/data_source_gitlab_project.go
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_test.go
Labels: documentation, size/M, provider, data-source, resource, tests

#865 Use new form-based issue templates for bugs and features
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yml
Labels: size/M, workflows

#871 Add topic resource support, third trial
  docs/resources/topic.md
  examples/resources/gitlab_topic/import.sh
  examples/resources/gitlab_topic/resource.tf
  internal/provider/resource_gitlab_topic.go
  internal/provider/resource_gitlab_topic_test.go
Labels: documentation, size/L, provider, resource, tests

#873 Fix gitlab_group_ldap_link panic on group_access attribute and re-enable tests
  internal/provider/resource_gitlab_group_ldap_link.go
  internal/provider/resource_gitlab_group_ldap_link_test.go
Labels: size/M, provider, resource, tests

#877 Add branch protection support for allow_force_push
  docs/resources/branch_protection.md
  examples/resources/gitlab_branch_protection/resource.tf
  internal/provider/resource_gitlab_branch_protection.go
  internal/provider/resource_gitlab_branch_protection_test.go
Labels: documentation, size/M, provider, resource, tests

#875 [gitlab_project] re-compute project attributes if path or namespace changed
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_test.go
Labels: size/M, provider, resource, tests

#597 feat: add api_url option for Jira service
  docs/resources/service_jira.md
  internal/provider/resource_gitlab_service_jira.go
  internal/provider/resource_gitlab_service_jira_test.go
Labels: enhancement, documentation, size/S, provider, resource, tests

#879 Update pull_request_template.md
  .github/pull_request_template.md
Labels: size/S, DX, workflows

#880 Remove debug log
  internal/provider/resource_gitlab_service_jira.go
Labels: size/XS, provider, resource

#882 Split EE and CE acceptance workflows
  .github/workflows/pr-acceptance-ce.yml
  .github/workflows/pr-acceptance-ee.yml
Labels: size/M, workflows

#886 Workflows: Require PRs to have "safe to test" or "skip-ee-test" label before merging
  .github/workflows/pr-required-labels.yml
Labels: size/XS, DX, workflows

#771 fix(group_ldap_link): add missing terraform import feature for group LDAP link
  docs/resources/group_ldap_link.md
  examples/resources/gitlab_group_ldap_link/import.sh
  internal/provider/resource_gitlab_group_ldap_link.go
  internal/provider/resource_gitlab_group_ldap_link_test.go
Labels: enhancement, documentation, size/M, technical-debt, provider, needs-rebase, resource, tests

#881 Fix incompatible assignments for ResourceData.Set() reported by tfproviderlint. Closes #436
  internal/provider/data_source_gitlab_project_protected_branch.go
  internal/provider/data_source_gitlab_project_protected_branches.go
  internal/provider/resource_gitlab_branch_protection.go
Labels: size/M, provider, data-source, resource

#889 Finialize changelog for v3.10.0 release
  CHANGELOG.md
Labels: documentation, size/S, skip-ee-test

#892 resource/gitlab_branch_protection: fix issue claiming that no valid access level can be found. Closes #890
  CHANGELOG.md
  internal/provider/resource_gitlab_branch_protection.go
Labels: documentation, size/S, provider, resource, safe to test

#893 Fix changelog typo
  CHANGELOG.md
Labels: documentation, size/XS

#895 resource/gitlab_group_variable: better error message for invalid masked variable values. Closes #371
  internal/provider/resource_gitlab_group_variable.go
  internal/provider/resource_gitlab_group_variable_test.go
  internal/provider/resource_gitlab_instance_variable.go
  internal/provider/resource_gitlab_instance_variable_test.go
  internal/provider/resource_gitlab_project_variable.go
  internal/provider/variable_helpers.go
Labels: size/L, provider, resource, tests, safe to test

#808 Add require_password_to_approve option for MRs
  docs/resources/project_level_mr_approvals.md
  internal/provider/resource_gitlab_project_level_mr_approvals.go
  internal/provider/resource_gitlab_project_level_mr_approvals_test.go
Labels: enhancement, documentation, size/S, provider, upstream-api-alignment, resource, tests, safe to test

#899 resource/gitlab_user: Add support for `deactivated` user state. Closes #897
  docs/resources/user.md
  internal/provider/resource_gitlab_user.go
  internal/provider/resource_gitlab_user_test.go
Labels: documentation, size/M, provider, resource, tests, safe to test

#900 project: Add `merge_pipelines_enabled` and `merge_trains_enabled`. Closes #623
  docs/data-sources/project.md
  docs/data-sources/projects.md
  docs/resources/project.md
  internal/provider/data_source_gitlab_project.go
  internal/provider/data_source_gitlab_projects.go
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_test.go
Labels: documentation, size/M, provider, data-source, resource, tests, safe to test

#902 Workflows: EE Permissions
  .github/workflows/pr-acceptance-ee.yml
Labels: size/S, workflows, safe to test

#903 resource/gitlab_user_sshkey: add new resource. Closes #40, 716
  docs/resources/user_sshkey.md
  examples/resources/gitlab_user_sshkey/import.sh
  examples/resources/gitlab_user_sshkey/resource.tf
  go.mod
  go.sum
  internal/provider/resource_gitlab_user_sshkey.go
  internal/provider/resource_gitlab_user_sshkey_test.go
Labels: documentation, dependencies, size/L, provider, resource, tests, safe to test

#901 Fix the release process
  .github/workflows/release.yml
  .goreleaser.yml
  terraform-registry-manifest.json
Labels: size/M, workflows
