Repository gitlabhq/terraform-provider-gitlab, pull requests merged in 2022-06, with the labels that each got.

#1113 Fix handling removal from state of microsoft teams integration resource
  internal/provider/resource_gitlab_service_microsoft_teams.go
Labels: size/S, provider, resource

#1125 Draft v3.15.1 changelog
  CHANGELOG.md
Labels: documentation, size/XS

#1122 Add expiration date for gitlab_project_membership
  docs/resources/project_membership.md
  examples/resources/gitlab_project_membership/resource.tf
  internal/provider/resource_gitlab_project_membership.go
  internal/provider/resource_gitlab_project_membership_test.go
Labels: documentation, size/S, provider, resource, tests

#1118 Add current_user data source
  docs/data-sources/current_user.md
  examples/data-sources/gitlab_current_user/data-source.tf
  internal/provider/data_source_gitlab_current_user.go
  internal/provider/data_source_gitlab_current_user_test.go
  internal/provider/graphql_helper.go
  internal/provider/graphql_helper_test.go
  internal/provider/util.go
  internal/provider/util_test.go
Labels: documentation, size/L, provider, data-source, tests

#1129 resource/gitlab_project: Only execute custom `default_branch` logic for GitLab < 14.10
  docs/resources/project.md
  internal/provider/resource_gitlab_project.go
Labels: documentation, size/M, provider, resource

#1130 Disable application settings cache for test instance
  scripts/gitlab.rb
Labels: size/S, tools

#1128 resource/gitlab_project: Fix project creation when default branch protection is disabled on instance-level
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_test.go
Labels: bug, size/M, provider, resource, tests

#1144 Use `security_and_compliance_access_level` attribute in tests
  internal/provider/resource_gitlab_project_test.go
Labels: size/M, provider, resource, tests

#1143 Add official support for 15.1 and drop 14.9
  .github/workflows/pr-acceptance-ce.yml
  .github/workflows/pr-acceptance-ee.yml
  .github/workflows/push.yml
Labels: size/XS, workflows

#1131 Added `gitlab_release_link` as a resource and data source
  docs/data-sources/release_link.md
  docs/data-sources/release_links.md
  docs/resources/release_link.md
  examples/data-sources/gitlab_release_link/data-source.tf
  examples/data-sources/gitlab_release_links/data-source.tf
  examples/resources/gitlab_release_link/import.sh
  examples/resources/gitlab_release_link/resource.tf
  internal/provider/data_source_gitlab_release_link.go
  internal/provider/data_source_gitlab_release_link_test.go
  internal/provider/data_source_gitlab_release_links.go
  internal/provider/data_source_gitlab_release_links_test.go
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_release_link.go
  internal/provider/resource_gitlab_release_link_test.go
  internal/provider/schema_gitlab_release_link.go
Labels: documentation, size/L, provider, data-source, resource, tests

#1097 Setup for required_approval_count in gitlab_project_protected_environment
  docs/resources/project_protected_environment.md
  examples/resources/gitlab_project_protected_environment/resource.tf
  internal/provider/resource_gitlab_project_protected_environment.go
  internal/provider/resource_gitlab_project_protected_environment_test.go
Labels: documentation, size/S, provider, resource, tests

#1153 fix resource type in docs for project_approval_rule.md
  docs/resources/project_approval_rule.md
  examples/resources/gitlab_project_approval_rule/resource.tf
Labels: documentation, size/XS

#1146 `gitlab_project`: Add `ci_default_git_depth` attribute
  docs/data-sources/project.md
  docs/data-sources/projects.md
  docs/resources/project.md
  internal/provider/data_source_gitlab_project.go
  internal/provider/data_source_gitlab_projects.go
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_test.go
Labels: documentation, size/S, provider, data-source, resource, tests

#1152 resource/gitlab_project: Fix passing `false` to API for explicitly set optional attributes
  internal/provider/resource_gitlab_group.go
  internal/provider/resource_gitlab_group_test.go
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_test.go
Labels: size/M, provider, resource, tests
