Repository gitlabhq/terraform-provider-gitlab, pull requests merged in 2022-07, with the labels that each got.

#1159 Clean up: date comment & fmt.Sprintf
  internal/provider/resource_gitlab_group_ldap_link_test.go
  internal/provider/resource_gitlab_group_membership.go
  internal/provider/resource_gitlab_group_membership_test.go
  internal/provider/resource_gitlab_group_share_group.go
  internal/provider/resource_gitlab_project_membership_test.go
Labels: size/S, provider, resource, tests

#1158 Fix a case where a change to a project in terraform can never apply w…
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_test.go
Labels: size/M, provider, resource, tests

#1160 Refactor destory checks to check for resource under test
  internal/provider/resource_gitlab_label_test.go
  internal/provider/resource_gitlab_pipeline_trigger_test.go
  internal/provider/resource_gitlab_project_hook_test.go
  internal/provider/resource_gitlab_service_jira_test.go
  internal/provider/resource_gitlab_service_slack_test.go
Labels: size/M, technical debt, provider, resource, tests

#1161 Note the danger of using `approvals_before_merge` attribute in the project resource
  docs/resources/project.md
  internal/provider/resource_gitlab_project.go
Labels: documentation, size/S, provider, resource

#1175 resource/gitlab_user_sshkey: Ignore leading and trailing whitespaces in key
  internal/provider/resource_gitlab_user_sshkey.go
  internal/provider/resource_gitlab_user_sshkey_test.go
Labels: size/S, provider, resource, tests

#1172 Add convenience cmd to build and install bin locally
  CONTRIBUTING.md
  GNUmakefile
Labels: documentation, size/S, DX

#1173 New Resource: `gitlab_project_issue_board`
  docs/resources/project_issue_board.md
  examples/resources/gitlab_project_issue_board/import.sh
  examples/resources/gitlab_project_issue_board/resource.tf
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_project_issue_board.go
  internal/provider/resource_gitlab_project_issue_board_test.go
  internal/provider/schema_gitlab_project_issue_board.go
Labels: documentation, size/L, provider, resource, tests

#1189 chore: new license file
  Gitlab-license.encrypted
Labels: size/XS

#593 Add new data source gitlab_project_membership
  docs/data-sources/project_membership.md
  examples/data-sources/gitlab_project_membership/data-source.tf
  internal/provider/data_source_gitlab_group_membership.go
  internal/provider/data_source_gitlab_group_membership_test.go
  internal/provider/data_source_gitlab_project_membership.go
  internal/provider/data_source_gitlab_project_membership_test.go
Labels: documentation, waiting-response, size/L, provider, data-source, tests

#1188 Officially support GitLab 15.0, 15.1 and 15.2
  .github/workflows/pr-acceptance-ce.yml
  .github/workflows/pr-acceptance-ee.yml
  .github/workflows/push.yml
  CHANGELOG.md
  docs/resources/service_jira.md
  internal/provider/resource_gitlab_service_jira.go
  internal/provider/resource_gitlab_service_jira_test.go
Labels: documentation, size/S, provider, resource, workflows, tests

#989 Use single `GET` endpoints to retrieve GAT and PAT
  internal/provider/resource_gitlab_group_access_token.go
  internal/provider/resource_gitlab_project_access_token.go
Labels: size/M, provider, resource
