Repository gitlabhq/terraform-provider-gitlab, pull requests merged in 2022-03, with the labels that each got.

#905 Changelog draft for v3.11.0
  CHANGELOG.md
Labels: documentation, size/S, skip-ee-test

#634 Added gitlab_branch as a resource and data source
  docs/data-sources/branch.md
  docs/resources/branch.md
  examples/data-sources/gitlab_branch/data-source.tf
  examples/resources/gitlab_branch/import.sh
  examples/resources/gitlab_branch/resource.tf
  internal/provider/data_source_gitlab_branch.go
  internal/provider/data_source_gitlab_branch_test.go
  internal/provider/resource_gitlab_branch.go
  internal/provider/resource_gitlab_branch_test.go
Labels: documentation, waiting-response, size/L, provider, data-source, resource, tests

#913 feat: Add rule_type parameter to merge_request_approval_rule
  docs/resources/project_approval_rule.md
  examples/resources/gitlab_project_approval_rule/resource.tf
  go.mod
  go.sum
  internal/provider/resource_gitlab_project_approval_rule.go
  internal/provider/resource_gitlab_project_approval_rule_test.go
Labels: documentation, dependencies, size/M, provider, resource, tests, safe to test

#915 Revert "feat: Add rule_type parameter to merge_request_approval_rule"
  docs/resources/project_approval_rule.md
  examples/resources/gitlab_project_approval_rule/resource.tf
  go.mod
  go.sum
  internal/provider/resource_gitlab_project_approval_rule.go
  internal/provider/resource_gitlab_project_approval_rule_test.go
Labels: documentation, dependencies, size/M, provider, resource, tests, safe to test

#914 Add prevent_forking_outside_group
  docs/data-sources/group.md
  docs/resources/group.md
  go.mod
  go.sum
  internal/provider/data_source_gitlab_group.go
  internal/provider/data_source_gitlab_group_test.go
  internal/provider/resource_gitlab_group.go
  internal/provider/resource_gitlab_group_test.go
Labels: documentation, dependencies, size/M, provider, data-source, resource, tests

#918 docs: Update example link to not be broken
  CONTRIBUTING.md
Labels: documentation, size/XS, skip-ee-test

#910 Added gitlab_project_tag as a resource and data source
  docs/data-sources/project_tag.md
  docs/resources/project_tag.md
  examples/data-sources/gitlab_project_tag/data-source.tf
  examples/resources/gitlab_project_tag/import.sh
  examples/resources/gitlab_project_tag/resource.tf
  go.mod
  go.sum
  internal/provider/data_source_gitlab_project_tag.go
  internal/provider/data_source_gitlab_project_tag_test.go
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_project_tag.go
  internal/provider/resource_gitlab_project_tag_test.go
Labels: documentation, dependencies, size/L, provider, data-source, resource, tests, safe to test

#916 feat: Add rule_type parameter to merge_request_approval_rule
  docs/resources/project_approval_rule.md
  examples/resources/gitlab_project_approval_rule/resource.tf
  internal/provider/resource_gitlab_project_approval_rule.go
  internal/provider/resource_gitlab_project_approval_rule_test.go
Labels: documentation, size/M, provider, resource, tests, safe to test

#924 Correctly handle deletion outside of terraform
  internal/provider/resource_gitlab_group_badge.go
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_badge.go
Labels: size/S, provider, resource, safe to test

#923 Automatically add changelog as release notes to GitHub release
  .github/workflows/release.yml
  .goreleaser.yml
Labels: size/S, workflows, skip-ee-test

#937 Workflow: Fix stale message
  .github/workflows/stale.yml
Labels: size/XS, DX, workflows, skip-ee-test

#891 Add initial Gitlab Project Issue resource and data source support
  docs/data-sources/project_issue.md
  docs/data-sources/project_issues.md
  docs/resources/project_issue.md
  examples/data-sources/gitlab_project_issue/data-source.tf
  examples/data-sources/gitlab_project_issues/data-source.tf
  examples/resources/gitlab_project_issue/import.sh
  examples/resources/gitlab_project_issue/resource.tf
  internal/provider/data_source_gitlab_project_issue.go
  internal/provider/data_source_gitlab_project_issue_test.go
  internal/provider/data_source_gitlab_project_issues.go
  internal/provider/data_source_gitlab_project_issues_test.go
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_project_issue.go
  internal/provider/resource_gitlab_project_issue_test.go
  internal/provider/schema_gitlab_project_issue.go
  internal/provider/util.go
Labels: documentation, size/XL, provider, data-source, resource, tests, safe to test

#922 Changelog for v3.12.0
  CHANGELOG.md
Labels: documentation, size/S, skip-ee-test

#942 Workflows: Lint docs for upstream API link
  .github/workflows/pr-lint.yml
  .github/workflows/push.yml
  GNUmakefile
  docs/data-sources/project_issue.md
  docs/data-sources/project_issues.md
  docs/data-sources/project_tag.md
  docs/resources/group.md
  docs/resources/project_issue.md
  docs/resources/project_tag.md
  internal/provider/data_source_gitlab_project_issue.go
  internal/provider/data_source_gitlab_project_issues.go
  internal/provider/data_source_gitlab_project_tag.go
  internal/provider/resource_gitlab_group.go
  internal/provider/resource_gitlab_project_issue.go
  internal/provider/resource_gitlab_project_tag.go
  scripts/lint-custom.sh
Labels: documentation, size/S, provider, DX, data-source, resource, workflows, linter, tools, skip-ee-test

#941 resource/gitlab_deploy_token: Implement pagination when reading tokens
  internal/provider/resource_gitlab_deploy_token.go
  internal/provider/resource_gitlab_deploy_token_test.go
Labels: bug, size/M, provider, resource, tests, safe to test

#936 Implement GitPod integration
  .gitpod.yml
  CONTRIBUTING.md
  README.md
Labels: documentation, size/S, skip-ee-test

#934 Add `allowed_to_unprotect` and `unprotect_access_level` fields to branch protection
  docs/resources/branch_protection.md
  examples/resources/gitlab_branch_protection/resource.tf
  internal/provider/access_level_helpers.go
  internal/provider/resource_gitlab_branch_protection.go
  internal/provider/resource_gitlab_branch_protection_test.go
Labels: documentation, size/L, provider, resource, tests, safe to test

#945 Fix docs rendering issue
  docs/resources/project_issue.md
  internal/provider/resource_gitlab_project_issue.go
Labels: documentation, size/XS, provider, resource, skip-ee-test

#948 Add SELinux Z flag to docker bind
  docker-compose.yml
Labels: size/XS, safe to test

#944 Add missing tag data source to v3.12.0 changelog
  CHANGELOG.md
Labels: size/XS, skip-ee-test

#870 New Data Source `datasource/gitlab_instance_deploy_keys`
  docs/data-sources/instance_deploy_keys.md
  examples/data-sources/gitlab_instance_deploy_keys/data-source.tf
  go.mod
  go.sum
  internal/provider/data_source_gitlab_instance_deploy_keys.go
  internal/provider/data_source_gitlab_instance_deploy_keys_test.go
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_deploy_key_enable_test.go
  internal/provider/resource_gitlab_deploy_key_test.go
Labels: documentation, dependencies, size/L, provider, data-source, resource, tests, safe to test

#955 resource/gitlab_pipeline_schedule: Use GET API to retrieve single resource instead of listing
  internal/provider/resource_gitlab_pipeline_schedule.go
Labels: size/S, technical debt, provider, resource, safe to test

#953 resource/gitlab_project_variable: Use GET API to retrieve single resource instead of listing
  internal/provider/resource_gitlab_project_variable.go
  internal/provider/resource_gitlab_project_variable_test.go
Labels: size/M, technical debt, provider, resource, tests, safe to test

#960 Implement all missing importers
  docs/resources/deploy_token.md
  docs/resources/project_access_token.md
  docs/resources/project_hook.md
  examples/resources/gitlab_deploy_token/import.sh
  examples/resources/gitlab_project_access_token/import.sh
  examples/resources/gitlab_project_hook/import.sh
  internal/provider/resource_gitlab_deploy_token.go
  internal/provider/resource_gitlab_deploy_token_test.go
  internal/provider/resource_gitlab_group_ldap_link.go
  internal/provider/resource_gitlab_project_access_token.go
  internal/provider/resource_gitlab_project_access_token_test.go
  internal/provider/resource_gitlab_project_hook.go
  internal/provider/resource_gitlab_project_hook_test.go
Labels: documentation, size/L, provider, resource, tests, safe to test

#917 resource/gitlab_project: Add many attributes to align with upstream API
  docs/data-sources/project.md
  docs/data-sources/projects.md
  docs/resources/project.md
  internal/provider/data_source_gitlab_project.go
  internal/provider/data_source_gitlab_projects.go
  internal/provider/resource_gitlab_project.go
  internal/provider/resource_gitlab_project_test.go
Labels: documentation, size/XL, provider, upstream api alignment, data-source, resource, tests, safe to test

#907 Workflows: Run EE tests on PRs without label requirement
  .github/workflows/pr-acceptance-ee.yml
  .github/workflows/pr-required-labels.yml
Labels: size/XS, workflows, skip-ee-test

#954 Use specific GET API instead of list for labels
  docs/resources/label.md
  examples/resources/gitlab_label/import.sh
  internal/provider/resource_gitlab_group_label.go
  internal/provider/resource_gitlab_group_label_test.go
  internal/provider/resource_gitlab_label.go
  internal/provider/resource_gitlab_label_test.go
Labels: documentation, size/L, technical debt, provider, resource, tests, safe to test

#950 resource/gitlab_project_approval_rule: fix potential accidental destroy of resource if not in first page
  go.mod
  go.sum
  internal/provider/data_source_gitlab_project_issues.go
  internal/provider/resource_gitlab_project_approval_rule.go
Labels: dependencies, size/M, provider, data-source, resource, safe to test

#963 Add data source gitlab_project_tags
  docs/data-sources/project_tag.md
  docs/data-sources/project_tags.md
  docs/resources/project_tag.md
  examples/data-sources/gitlab_project_tags/data-source.tf
  internal/provider/data_source_gitlab_project_tag.go
  internal/provider/data_source_gitlab_project_tags.go
  internal/provider/data_source_gitlab_project_tags_test.go
  internal/provider/resource_gitlab_project_tag.go
  internal/provider/schema_gitlab_project_tag.go
Labels: documentation, size/L, provider, data-source, resource, tests, safe to test

#939 feat: Add gitlab_repository_file data source
  docs/data-sources/repository_file.md
  docs/resources/repository_file.md
  examples/data-sources/gitlab_repository_file/data-source.tf
  internal/provider/data_source_gitlab_repository_file.go
  internal/provider/data_source_gitlab_repository_file_test.go
  internal/provider/resource_gitlab_repository_file.go
  internal/provider/schema_gitlab_repository_file.go
Labels: documentation, size/L, provider, data-source, resource, tests, safe to test

#970 Use `GitLab` instead of `Gitlab` in README
  README.md
Labels: documentation, size/XS

#952 Update managed_license resources to deprecate existing values and add GitLab 15+ values
  docs/resources/managed_license.md
  examples/resources/gitlab_managed_license/resource.tf
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_managed_license.go
  internal/provider/resource_gitlab_managed_license_test.go
Labels: documentation, size/M, provider, resource, tests, safe to test

#964 resource/gitlab_repository_file: Mitigate parallelism limitation
  docs/resources/repository_file.md
  internal/provider/resource_gitlab_repository_file.go
  internal/provider/resource_gitlab_repository_file_test.go
  internal/provider/util.go
Labels: documentation, size/L, provider, resource, tests, safe to test

#983 Fix gitlab_project datasource tests
  internal/provider/data_source_gitlab_projects_test.go
Labels: size/XS, provider, data-source, tests

#973 resource/gitlab_group: document groups without parent group limitation on SaaS
  docs/resources/group.md
  internal/provider/resource_gitlab_group.go
Labels: documentation, size/XS, provider, resource

#982 Update group resource inline docs
  docs/resources/group.md
  internal/provider/resource_gitlab_group.go
Labels: documentation, size/S, provider, needs-rebase, resource

#938 Third times a charm for protected environments
  docs/resources/project_environment.md
  docs/resources/project_protected_environment.md
  examples/resources/gitlab_project_environment/import.sh
  examples/resources/gitlab_project_environment/resource.tf
  examples/resources/gitlab_project_protected_environment/import.sh
  examples/resources/gitlab_project_protected_environment/resource.tf
  internal/provider/access_level_helpers.go
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_project_environment.go
  internal/provider/resource_gitlab_project_environment_test.go
  internal/provider/resource_gitlab_project_protected_environment.go
  internal/provider/resource_gitlab_project_protected_environment_test.go
Labels: documentation, size/XL, provider, resource, tests, safe to test

#972 resource/gitlab_repository_file: Support auto base64 encoding for content
  docs/data-sources/repository_file.md
  docs/resources/repository_file.md
  examples/resources/gitlab_repository_file/resource.tf
  internal/provider/resource_gitlab_repository_file.go
  internal/provider/resource_gitlab_repository_file_test.go
  internal/provider/schema_gitlab_repository_file.go
Labels: documentation, size/L, provider, resource, tests

#974 resource/gitlab_project: Mark `topics` attribute as `Computed`
  internal/provider/resource_gitlab_project.go
Labels: size/XS, provider, resource

#968 resource/gitlab_topic: Support avatars
  docs/resources/topic.md
  examples/resources/gitlab_topic/resource.tf
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_topic.go
  internal/provider/resource_gitlab_topic_test.go
  internal/provider/testdata/gitlab_topic/avatar-update.png
  internal/provider/testdata/gitlab_topic/avatar.png
Labels: documentation, size/L, provider, resource, tests

#965 Changelog for v3.13.0
  CHANGELOG.md
Labels: documentation, size/M, skip-ee-test

#971 Add new resource for linking Project to Group as file_project_template
  docs/resources/group_project_file_template.md
  examples/resources/gitlab_group_project_file_template/resource.tf
  internal/provider/helper_test.go
  internal/provider/resource_gitlab_group_project_file_template.go
  internal/provider/resource_gitlab_group_project_file_template_test.go
  internal/provider/resource_gitlab_project_test.go
Labels: documentation, size/L, provider, resource, tests

#997 Add access_level to gitlab_project_access_token resource
  docs/resources/project_access_token.md
  examples/resources/gitlab_project_access_token/resource.tf
  internal/provider/resource_gitlab_project_access_token.go
  internal/provider/resource_gitlab_project_access_token_test.go
Labels: documentation, size/M, provider, resource, tests, safe to test
